<div>
  <h1 class="text-2xl font-bold mb-4">Listings</h1>

  <p>Find me in app/views/listings/index.html.erb</p>

  <p>@listings.size = <%= @listings.size %></p>

  <ul>
    <% @listings.each do |listing| %>
      <li><%= link_to listing.title, listing_path(listing) %></li>
    <% end %>
  </ul>
</div>
