<div>
  <h1 class="font-bold text-4xl">Listings#show</h1>
  <p>Find me in app/views/listings/show.html.erb</p>

  <div>
    <h4>Listing</h4>
    <p>
      <strong>Id:</strong>
      <%= @listing.id %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @listing.title %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @listing.full_address %>
    </p>
    <p>
      <strong>City:</strong>
      <%= @listing.city %>
    </p>
  </div>
</div>
